---
import HeaderMenu from './parts/HeaderMenu.astro';
import { HamburgerMenu } from './parts/HamburgerMenu';
---

<header class:list={['absolute', 'top-0', 'z-50', 'max-w-screen']}>
  <nav class:list={['p-10', 'md:flex', 'hidden']}>
    <HeaderMenu />
  </nav>
  <nav
    class:list={[
      'p-5', 
      'md:hidden',
      'flex',
      'items-center',
      'justify-center',
      'gap-10',
    ]}
  >
    <HamburgerMenu client:load />
  </nav>
</header>
