---
import { sections } from '@/components/sections';
---

<header class="absolute top-0 z-10">
  <nav class="p-4">
    <ul class="flex items-center justify-center gap-4">
      {
        sections.map((section) => (
          <li>
            <a href={`#${section.anchorLinkName}`}>{section.anchorLinkName}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
