---
import NavigationMenu from '@/components/ui/NavigationMenu/index.astro';
import { HamburgerMenu } from '@/components/ui/HamburgerMenu';
---

<header class:list={['absolute', 'top-0', 'z-50', 'max-w-screen']}>
  <nav class:list={['p-10', 'md:flex', 'hidden']}>
    <NavigationMenu />
  </nav>
  <nav
    class:list={[
      'p-5',
      'md:hidden',
      'flex',
      'items-center',
      'justify-center',
      'gap-10',
    ]}
  >
    <HamburgerMenu client:load />
  </nav>
</header>
