---
import { sections } from '@/components/sections';
---

<header class="absolute top-0 z-10">
  <nav>
    <ul>
      {
        sections.map((section) => (
          <li>
            <a href={`#${section.anchorLinkName}`}>{section.anchorLinkName}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
