---
const currentYear = new Date().getFullYear();
---

<footer
  class:list={[
    'absolute',
    'bottom-0',
    'w-full',
    'p-10',
    'text-left',
    'text-xs',
    'font-light',
    'tracking-widest',
    'uppercase',
  ]}
>
  <p>© {currentYear} honokiyuto</p>
</footer>
