---
import { MultiScroll } from '@/components/ui/MultiScroll';
---

<main
  class:list={[
    'absolute',
    'top-0',
    'left-0',
    'h-dvh',
    'w-dvw',
    'overflow-hidden',
  ]}
>
  <MultiScroll client:visible />
</main>
