---
import { sections } from '@/components/sections';
---

<ul
  class:list={['flex', 'items-center', 'justify-center', 'gap-10']}
>
  {
    sections.map((section) => (
      <li class:list={['text-md/relaxed', 'tracking-wider']}>
        <a
          class:list={[
            'relative',
            'after:absolute',
            'after:bottom-0',
            'after:left-0',
            'after:h-[1px]',
            'after:w-0',
            'after:bg-white',
            'hover:after:w-full',
            'after:transition-[width]',
            'after:duration-300',
            'after:ease-out',
          ]}
          href={`#${section.anchorLinkName}`}
        >
          {section.anchorLinkName.toUpperCase()}
        </a>
      </li>
    ))
  }
</ul>
